{% extends 'base.html.twig' %}

{% block title %}Créer un message{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">

        <h2 class="mb-4">
            📝 Publier un nouveau message
        </h2>

        {% include 'partials/flash/_flash_messages.html.twig' %}

        {% include 'partials/posts/_post_form.html.twig' with {
            form: form,
            submit_label: 'Publier',
            submit_class: 'btn-primary'
        } only %}

    </div>
</div>
{% endblock %}